section{
    padding-top: 128px;
}

.btn.button{
    border: 3px solid black;
    border-radius: 32px;
}

.btn.button:hover{
    border: 3px solid black;
    background-color: black;
    color: white;
}

.navbar{
    background-color: white;
    box-shadow: 0 0 0 4px black;
}

.home h1{
    font-size: 72px;
}

.home h3{
    font-size: 64px;
}

.home .arrow img{
    width: 60px;
}

.arrow img {
    animation: upDown 1s infinite;
}

@keyframes upDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
